<html>
<head>
<title>layout.gif</title>
<meta http-equiv="Content-Type" content="text/html;">
<!--Fireworks MX 2004 Dreamweaver MX 2004 target.  Created Sat Nov 06 14:13:55 GMT-0500 (Eastern Standard Time) 2004-->
<script language="JavaScript">
<!--
function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}
function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}

function MM_preloadImages() { //v3.0
 var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
   var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
   if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function mmLoadMenus() {
  if (window.mm_menu_1028200032_0) return;
  window.mm_menu_1028200032_0 = new Menu("root",140,20,"Arial, Times New Roman, Times, serif",14,"#000000","#ffffff","#d4d0c8","#000084","left","middle",3,0,1000,-5,7,true,true,true,0,false,true);
  mm_menu_1028200032_0.addMenuItem("About&nbsp;Us","location='about.htm'");
  mm_menu_1028200032_0.addMenuItem("Company&nbsp;Profile","location='profile.htm'");
  mm_menu_1028200032_0.addMenuItem("Careers","location='careers.htm'");
  mm_menu_1028200032_0.addMenuItem("News","location='news.htm'");
   mm_menu_1028200032_0.hideOnMouseOut=true;
   mm_menu_1028200032_0.menuBorder=1;
   mm_menu_1028200032_0.menuLiteBgColor='#ffffff';
   mm_menu_1028200032_0.menuBorderBgColor='#555555';
   mm_menu_1028200032_0.bgColor='#555555';
    window.mm_menu_1028200418_1_1 = new Menu("Products",140,20,"Arial, Times New Roman, Times, serif",14,"#000000","#ffffff","#d4d0c8","#000084","left","middle",3,0,1000,-5,7,true,true,true,0,false,true);
    mm_menu_1028200418_1_1.addMenuItem("Mobile&nbsp;Video","location='products-mobilevideo.htm'");
    mm_menu_1028200418_1_1.addMenuItem("Media&nbsp;Management","location='products-mediamanagement.htm'");
    mm_menu_1028200418_1_1.addMenuItem("Body&nbsp;Wearable","location='products-bodywearable.htm'");
    mm_menu_1028200418_1_1.addMenuItem("Others","location='products-others.htm'");
     mm_menu_1028200418_1_1.hideOnMouseOut=true;
     mm_menu_1028200418_1_1.menuBorder=1;
     mm_menu_1028200418_1_1.menuLiteBgColor='#ffffff';
     mm_menu_1028200418_1_1.menuBorderBgColor='#555555';
     mm_menu_1028200418_1_1.bgColor='#555555';
  window.mm_menu_1028200418_1 = new Menu("root",140,20,"Arial, Times New Roman, Times, serif",14,"#000000","#ffffff","#d4d0c8","#000084","left","middle",3,0,1000,-5,7,true,true,true,0,false,true);
  mm_menu_1028200418_1.addMenuItem("Accessories","location='accessories.htm'");
  mm_menu_1028200418_1.addMenuItem(mm_menu_1028200418_1_1,"location='products.htm'");
  mm_menu_1028200418_1.addMenuItem("Specifications","location='specifications.htm'");
  mm_menu_1028200418_1.addMenuItem("Features","location='features.htm'");
  mm_menu_1028200418_1.addMenuItem("Pricing","location='pricing.htm'");
  mm_menu_1028200418_1.addMenuItem("Warranties","location='warranty.htm'");
  mm_menu_1028200418_1.addMenuItem("Leasing","location='leasing.htm'");
   mm_menu_1028200418_1.hideOnMouseOut=true;
   mm_menu_1028200418_1.childMenuIcon="images/arrows.gif";
   mm_menu_1028200418_1.menuBorder=1;
   mm_menu_1028200418_1.menuLiteBgColor='#ffffff';
   mm_menu_1028200418_1.menuBorderBgColor='#555555';
   mm_menu_1028200418_1.bgColor='#555555';
  window.mm_menu_1028200427_2 = new Menu("root",140,20,"Arial, Times New Roman, Times, serif",14,"#000000","#ffffff","#d4d0c8","#000084","left","middle",3,0,1000,-5,7,true,true,true,0,false,true);
  mm_menu_1028200427_2.addMenuItem("One-Day&nbsp;Service","location='service.htm'");
  mm_menu_1028200427_2.addMenuItem("Warranties","location='warranty.htm'");
  mm_menu_1028200427_2.addMenuItem("Leasing","location='leasing.htm'");
   mm_menu_1028200427_2.hideOnMouseOut=true;
   mm_menu_1028200427_2.menuBorder=1;
   mm_menu_1028200427_2.menuLiteBgColor='#ffffff';
   mm_menu_1028200427_2.menuBorderBgColor='#555555';
   mm_menu_1028200427_2.bgColor='#555555';
  window.mm_menu_1028200430_3 = new Menu("root",140,20,"Arial, Times New Roman, Times, serif",14,"#000000","#ffffff","#d4d0c8","#000084","left","middle",3,0,1000,-5,7,true,true,true,0,false,true);
  mm_menu_1028200430_3.addMenuItem("Downloads","location='downloads.htm'");
  mm_menu_1028200430_3.addMenuItem("Contact&nbsp;Us","location='contact.htm'");
   mm_menu_1028200430_3.hideOnMouseOut=true;
   mm_menu_1028200430_3.menuBorder=1;
   mm_menu_1028200430_3.menuLiteBgColor='#ffffff';
   mm_menu_1028200430_3.menuBorderBgColor='#555555';
   mm_menu_1028200430_3.bgColor='#555555';

  mm_menu_1028200430_3.writeMenus();
} // mmLoadMenus()

//-->
</script>
<script language="JavaScript1.2" src="mm_menu.js"></script>
</head>
<body bgcolor="#4a0000" onLoad="MM_preloadImages('images/mf2.gif','images/nf2.gif','images/of2.gif','images/pf2.gif','images/qf2.gif');">
<script language="JavaScript1.2">mmLoadMenus();</script>
<table bgcolor="#4a0000" border="0" cellpadding="0" cellspacing="0" width="900">
<!-- fwtable fwsrc="layout-source.png" fwbase="layout.gif" fwstyle="Dreamweaver" fwdocid = "2085802691" fwnested="0" -->
  <tr>
   <td><img src="images/spacer.gif" width="43" height="1" border="0" alt=""></td>
   <td><img src="images/spacer.gif" width="7" height="1" border="0" alt=""></td>
   <td><img src="images/spacer.gif" width="22" height="1" border="0" alt=""></td>
   <td><img src="images/spacer.gif" width="96" height="1" border="0" alt=""></td>
   <td><img src="images/spacer.gif" width="21" height="1" border="0" alt=""></td>
   <td><img src="images/spacer.gif" width="79" height="1" border="0" alt=""></td>
   <td><img src="images/spacer.gif" width="100" height="1" border="0" alt=""></td>
   <td><img src="images/spacer.gif" width="100" height="1" border="0" alt=""></td>
   <td><img src="images/spacer.gif" width="100" height="1" border="0" alt=""></td>
   <td><img src="images/spacer.gif" width="1" height="1" border="0" alt=""></td>
   <td><img src="images/spacer.gif" width="165" height="1" border="0" alt=""></td>
   <td><img src="images/spacer.gif" width="116" height="1" border="0" alt=""></td>
   <td><img src="images/spacer.gif" width="7" height="1" border="0" alt=""></td>
   <td><img src="images/spacer.gif" width="43" height="1" border="0" alt=""></td>
   <td><img src="images/spacer.gif" width="1" height="1" border="0" alt=""></td>
  </tr>

  <tr>
   <td rowspan="8" bgcolor="#4a0000"><img src="images/spacer.gif" width="43" height="600" border="0" alt=""></td>
   <td><img name="b" src="images/b.gif" width="7" height="13" border="0" alt=""></td>
   <td colspan="10"><img name="c" src="images/c.gif" width="800" height="13" border="0" alt=""></td>
   <td><img name="d" src="images/d.gif" width="7" height="13" border="0" alt=""></td>
   <td rowspan="8" bgcolor="#4a0000"><img src="images/spacer.gif" width="43" height="600" border="0" alt=""></td>
   <td><img src="images/spacer.gif" width="1" height="13" border="0" alt=""></td>
  </tr>
  <tr>
   <td><img name="f" src="images/f.gif" width="7" height="13" border="0" alt=""></td>
   <td rowspan="3" colspan="3"><img name="g" src="images/g.jpg" width="139" height="95" border="0" alt=""></td>
   <td rowspan="3" colspan="7"><img name="h" src="images/h.jpg" width="661" height="95" border="0" alt=""></td>
   <td rowspan="2"><img name="i" src="images/i.gif" width="7" height="17" border="0" alt=""></td>
   <td><img src="images/spacer.gif" width="1" height="13" border="0" alt=""></td>
  </tr>
  <tr>
   <td rowspan="6" bgcolor="#4a0000"><img src="images/spacer.gif" width="7" height="574" border="0" alt=""></td>
   <td><img src="images/spacer.gif" width="1" height="4" border="0" alt=""></td>
  </tr>
  <tr>
   <td rowspan="5" bgcolor="#4a0000"><img src="images/spacer.gif" width="7" height="570" border="0" alt=""></td>
   <td><img src="images/spacer.gif" width="1" height="78" border="0" alt=""></td>
  </tr>
  <tr>
   <td><img name="l" src="images/l.gif" width="22" height="49" border="0" alt=""></td>
   <td><a href="default.htm" onMouseOut="MM_swapImgRestore();" onMouseOver="MM_swapImage('m','','images/mf2.gif',1);"><img name="m" src="images/m.gif" width="96" height="49" border="0" alt="Home"></a></td>
   <td colspan="2"><a href="#" onMouseOut="MM_swapImgRestore();MM_startTimeout();" onMouseOver="MM_showMenu(window.mm_menu_1028200032_0,6,32,null,'n');MM_swapImage('n','','images/nf2.gif',1);"><img name="n" src="images/n.gif" width="100" height="49" border="0" alt="Company"></a></td>
   <td><a href="#" onMouseOut="MM_swapImgRestore();MM_startTimeout();" onMouseOver="MM_showMenu(window.mm_menu_1028200418_1,6,32,null,'o');MM_swapImage('o','','images/of2.gif',1);"><img name="o" src="images/o.gif" width="100" height="49" border="0" alt="Products"></a></td>
   <td><a href="#" onMouseOut="MM_swapImgRestore();MM_startTimeout();" onMouseOver="MM_showMenu(window.mm_menu_1028200427_2,6,32,null,'p');MM_swapImage('p','','images/pf2.gif',1);"><img name="p" src="images/p.gif" width="100" height="49" border="0" alt="Services"></a></td>
   <td><a href="#" onMouseOut="MM_swapImgRestore();MM_startTimeout();" onMouseOver="MM_showMenu(window.mm_menu_1028200430_3,6,32,null,'q');MM_swapImage('q','','images/qf2.gif',1);"><img name="q" src="images/q.gif" width="100" height="49" border="0" alt="Support"></a></td>
   <td bgcolor="#4a0000"><img src="images/spacer.gif" width="1" height="49" border="0" alt=""></td>
   <td><img name="s" src="images/s.gif" width="165" height="49" border="0" alt=""></td>
   <td><a href="contact.htm"><img name="t" src="images/t.gif" width="116" height="49" border="0" alt="Contact"></a></td>
   <td><img src="images/spacer.gif" width="1" height="49" border="0" alt=""></td>
  </tr>
  <tr>
   <td colspan="10"><img name="u" src="images/u.gif" width="800" height="14" border="0" alt=""></td>
   <td><img src="images/spacer.gif" width="1" height="14" border="0" alt=""></td>
  </tr>
  <tr>
   <td colspan="10"><img name="v" src="images/v.gif" width="800" height="14" border="0" alt=""></td>
   <td><img src="images/spacer.gif" width="1" height="14" border="0" alt=""></td>
  </tr>
  <tr>
   <td colspan="10" bgcolor="#4a0000"><img src="images/spacer.gif" width="800" height="415" border="0" alt=""></td>
   <td><img src="images/spacer.gif" width="1" height="415" border="0" alt=""></td>
  </tr>
</table>
</body>
</html>
